
    /* ////////// small laptop //////////////////////////////////// */

    @media screen and (min-width: 768px) and (max-width: 1200px) {

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: #f4f4f4;
        }

        header {
            width: 100%;
            background-color: #0d6efd;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 30px;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
        }

        nav {
            display: flex;
            gap: 20px;
        }

        nav a {
            color: rgb(228, 222, 222);
            text-decoration: none;
            font-weight: 500;
            transition: 0.3s;
        }

        nav a:hover {
            color: #ffe082;
        }

        .menu-btn {
            display: none;
            font-size: 1.8rem;
            cursor: pointer;
        }
    }
